@media (min-width: 768px) {
    .section-content {
        flex-direction: row;
        gap: 48px;
        padding-right: 40px;
    }

    .header__nav-link::after {
        display: block;
    }

    .main-menu__title {
        gap: 24px;
    }

    .header__line-left {
        display: block;
    }

    .section-content__p {
        width: 312px;
    }

    .section-content__p--visibility {
        display: block;
    }

    .section-content__picture--size--sm {
        display: none;
    }

    .section-content__picture--size--md {
        display: block;
    }

    .feedback-group {
        display: flex;
    }


}

@media (min-width: 1024px) {

    .header {
        display: none;
    }

    .request::after {
        display: none;
    }

    .main-menu__title {
        gap: 32px;
    }

    main {
        padding-top: 42px;
    }

    .section-content__p {
        width: auto;
    }

    .section-content__picture--size--sm {
        display: none;
    }

    .section-content__picture--size--md {
        display: none;
    }

    .section-content__picture--size--lg {
        display: block;
    }

    .section-content__more--visibility {
        display: inline;
    }

    .action--visibility {
        display: block;
        
    }

    .main-menu__section-name {
        display: flex;
        justify-content: space-between;
        padding-right: 25px;
    }

    .main-menu__actions {
        display: flex;
        gap: 32px;
    }


    .status, .request {
        width: auto; 
        position: static;
        padding-right: 48px;
        display: flex;
        align-items: center;
        gap: 8px;
    }


}