@media (min-width: 768px) {

    .slider__wrapper {
        display: grid;
        padding: 0;
        /* padding-left: 32px; */
        gap: 24px;
        grid-template-columns: repeat(auto-fit, 224px);
    }

    .swiper-slide__btn {
        width: 100%;
    }

    .swiper-slide {
        width: 100%;
    }

    .brands__slider--hide {
        height: 170px;
    }
    
    .brands__slider--show {
        height: 365px;
    }

    .show-btn {
        display: flex;
    }

    .brands__show-btn {
        margin-top: 24px;
    }
    
    .show-btn__icon {
        transition: all 1s;
    }
    
    .brands__show-btn--hide .show-btn__icon {
        transform: rotate(0deg);
    }
    
    .brands__show-btn--show .show-btn__icon {
        transform: rotate(180deg);
    }
}

@media (min-width: 1000px) {
    .slider__wrapper {
        grid-template-columns: repeat(auto-fit, 240px);
    }

    .swiper-slide__btn {
        width: 100%;
    }

    .swiper-slide {
        width: 100%;
    }

    .brands__slider--show {
        height: 265px;
    }
}

@media (min-width: 1650px) {

    .show-btn {
        display: none;
    }

}